<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS LOOPS</title>
</head>
<body>
    <h1>This is Products page</h1>
    <h3>Our products are: </h3>

    <%products.forEach((product)=>{%>
        <li><%=product.product%></li><p>Rs.<%= product.price %></p>
    <%});%>

</body>
</html>